# Environment Variables
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root

# JWT Configuration
JWT_SECRET=myVeryLongSecretKeyForJWTTokenGenerationThatIsAtLeast256BitsLong2024LMS
JWT_EXPIRATION=86400000
